
.tableList{

    background-color: #fff;
    box-shadow: 0 20px 20px -20px rgb(0 0 0 / 30%), 0 0 15px rgb(0 0 0 / 6%);
    
}

.divPadding{
  padding: 10px;
}

.thead{
  width: 100%;
}

.sectionHeader{
    height: 90%;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 20px 20px -20px rgb(0 0 0 / 30%), 0 0 15px rgb(0 0 0 / 6%);
}

.buttonColor {

  background-color: #ff6d00; /* Naranja */
  border-radius: 8px;
	border: none;
	color: white;
	padding: 10px 24px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;

}

.buttonColor span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonColor span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonColor:hover span {
  padding-right: 25px;
}

.buttonColor:hover span:after {
  opacity: 1;
  right: 0;
}

.buttonEdit{
    padding: 10px 5px!important;
    background: #0d47a1;
    text-transform: unset!important;
}
.buttonEdit:hover{
    color: #ff6d00;
}

.buttonDelete{
    padding: 10px 5px!important;
    background: #0d47a1;
    text-transform: unset!important;
}
.buttonDelete:hover{
    color: #d50000;
}

.buttonNotify{
    padding: 10px 5px!important;
    background: #0d47a1;
    text-transform: unset!important;
}

.buttonNotify:hover{
    color: #00c853;
}


.textColorButton {

	color: #fff;
}

.buttonColorDanger {

	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 10px 24px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */
.button4 {background-color: #e7e7e7; color: black;} /* Gray */
.button5 {background-color: #555555;} /* Black */