
body{
    margin: 0;
    background-color: #cdcdcd;
}

.content{
    padding: 10px 10px 0px 10px;
}

.cardsContainer{
    padding: 10px;
}
.chartsContainer{
    padding: 10px 10px 0px 10px;
}

.chart{
    background-color: #fff;
    box-shadow: 0 20px 20px -20px rgb(0 0 0 / 30%), 0 0 15px rgb(0 0 0 / 6%);
}
.title{
    padding-left: 10px;
    padding-top: 10px;
}
