.root{
    flex-grow: 1;
    padding: 0;
    background: #800080;
}
.menuButton{
    margin-right: 16px;
}
.title{
    flex-grow: 1;
}
.imagen{

}
.navbar{
    background: #800080!important;
    flex-direction: unset!important;
    height: 70px;
}